<div class="user-details">
  <h1> Developer Bio </h1>

  <p><b>I have started programming with my best friend in primary school.</b> Back in 1991, we were coding music and simple games in BASIC for Commodore 64. After the college, I have started working as a journalist, with the strong interest in web development. Crafting websites since 2003. I remember the first shock when CSS was introduced.</p>

  <p><b>Nowadays, I am specialized in JavaScript technologies (Angular, Node.js, TypeScript, React...).</b> I am founder of Belgrade <a href="http://skolakoda.org/">School of Code</a> and Web design & development agency <a href="http://napretech.business.site/">Napretech</a>. For a years, I am working both as a freelancer and within the credible companies.</p>

  <img class="img-about" alt="Damjan Pavlica" src="{{ "/assets/img/damjan-pavlica.jpg" | prepend: site.baseurl }}" />
</div>
