<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/playerhunter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Playerhunter </h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="https://playerhunter.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/burda.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Burda Style </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.burdastyle.de/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skola-koda.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Škola koda </h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="https://skolakoda.org/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/parasail.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Parasail Health </h3>
    <ul>
      <li>Parasail Health</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.parasail.com/apply">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/oelmarkt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Ölmarkt</h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="http://www.oelmarkt.ch/">Check it out</a>
  </div>
</div>