<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/playerhunter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Playerhunter </h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="https://playerhunter.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/burda.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Burda Style </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.burdastyle.de/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skola-koda.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Škola koda </h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="https://skolakoda.org/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="https://raw.githubusercontent.com/skolakoda/spomenici/master/screen.png" />
  </div>
  <div class="contents-right">
    <h3>Monuments App </h3>
    <ul>
      <li>Google Maps API, ES6</li>
    </ul>
    <p>Yugoslav monuments map. </p>
    <a class="project-link" href="https://skolakoda.org/spomenici/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://raw.githubusercontent.com/skolakoda/programming-quotes/master/screen.png" />
  </div>
  <div class="contents">
    <h3> Programming Quotes </h3>
    <ul>
      <li>React, Redux, Node.js, MongoDB</li>
    </ul>
    <p>Programming Quotes, an open source app and database. </p>
    <a class="project-link" href="https://skolakoda.org/programming-quotes/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/parasail.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Parasail Health </h3>
    <ul>
      <li>reactjs, redux, typescript, webpack</li>
    </ul>
    <p>Client wanted a React.js application for patients to apply health loans. I have worked on this project as an employee of Itekako Inc.</p>
    <a class="project-link" href="https://www.parasail.com/apply">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/oelmarkt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Ölmarkt</h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>Develop the fastest growing sports social network for sportists. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="http://www.oelmarkt.ch/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/znaci.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Historical Archive Znaci </h3>
    <ul>
      <li>database-design, php, javascript, css, mysql, ajax, sql, google-maps-api-3</li>
    </ul>
    <p>I have design the database, core engine and UI for the biggest historical web archive on WW2 in Yugoslavia. I have developed both Back-end and Front-end for Znaci web application.</p>
    <a class="project-link" href="http://znaci.net/damjan/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/prager.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Prager Dreifuss</h3>
    <ul>
      <li>AngularJS/Wordpress app</li>
    </ul>
    <p>I have worked on this project as an employee of the Spoiled Milk company. I built a front-end pages in Wordpress using HTML5 and JS. Also, client wanted some custom search functionality which I had to implement in AngularJS.</p>
    <a class="project-link" href="https://www.prager-dreifuss.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="https://raw.githubusercontent.com/mudroljub/tenkici/master/screen.png" />
  </div>
  <div class="contents-right">
    <h3>Small Tanks </h3>
    <ul>
      <li>game, game-2d, javascript, browser-game</li>
    </ul>
    <p>Jednostavna igrica sa dva tenkića, napravljena u HTML5 canvasu. Možeš igrati protiv kompa ili protiv igrača.</p>
    <a class="project-link" href="https://mudroljub.github.io/tenkici/">Check it out</a>
  </div>
</div>
