<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/playerhunter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Playerhunter </h3>
    <ul>
      <li>Angular 5, Typescript, rxjs, observable, ngrx-store</li>
    </ul>
    <p>I was developing the fastest growing sports social network. Implement core social network functionalities: like, share, post and more. Communicate with backend API and continuously updating state of application.</p>
    <a class="project-link" href="https://playerhunter.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/burda2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Burda Style </h3>
    <ul>
      <li>ES6, Sass, Javascript, Drupal, Twig, PHP</li>
    </ul>
    <p>Our client, famous German fashion house Burda, wanted a new modern, responsive, pixel-perfect and beautiful website.</p>

    <p>I led the Front-end team on the project. I was a great experience working with some of the world best designers.</p>
    <a class="project-link" href="https://www.burdastyle.de/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="https://raw.githubusercontent.com/skolakoda/programming-quotes/master/screen.png" />
  </div>
  <div class="contents">
    <h3> Programming Quotes </h3>
    <ul>
      <li>React, Node.js, MongoDB, RESTful API</li>
    </ul>
    <p>The Programming Quotes, an open source app and database. My biggest open source application.</p>
    <a class="project-link" href="https://skolakoda.org/programming-quotes/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/parasail.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Parasail Health </h3>
    <ul>
      <li>reactjs, redux, typescript, webpack</li>
    </ul>
    <p>Client wanted a React.js application for patients to apply health loans. I have worked on this project as an employee of Itekako Inc.</p>
    <a class="project-link" href="https://www.parasail.com/apply">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/psiholjub.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Psiholjub </h3>
    <ul>
      <li>Wordpress, CSS, Responsive design</li>
    </ul>
    <p>I have build a child theme in Wordpress using CSS and Javascript, deployed files to a server, and optimized page loading speed.</p>
    <a class="project-link" href="http://www.psiholjub.com/">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="https://raw.githubusercontent.com/skolakoda/spomenici/master/screen.png" />
  </div>
  <div class="contents-right">
    <h3>Monuments App </h3>
    <ul>
      <li>Google Maps API, ES6</li>
    </ul>
    <p>Yugoslav WW2 monuments map. One of the applications from my programming workshops in Belgrade.</p>
    <a class="project-link" href="https://skolakoda.org/spomenici/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/prager.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Prager Dreifuss</h3>
    <ul>
      <li>AngularJS, Wordpress, Responsive Design</li>
    </ul>
    <p>I have worked on this project as an employee of the Spoiled Milk company. I built a front-end pages in Wordpress using HTML5 and JS. Also, client wanted advanced real-time search functionality which I had to implement in AngularJS.</p>
    <a class="project-link" href="https://www.prager-dreifuss.com">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/wiki-search.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Power Wiki Search</h3>
    <ul>
      <li>Wikipedia API, Angular, search-engine</li>
    </ul>
    <p>Search engine for Wikipedia and related Wikimedia projects.</p>
    <a class="project-link" href="https://mudroljub.github.io/power-wiki-search">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/oelmarkt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Ölmarkt</h3>
    <ul>
      <li>jquery-mobile, jquery, bootstrap, javascript, twig, php, Symfony</li>
    </ul>
    <p>Our client wanted to build an oil ordering platform. I have built a responsive web app, while my fellow worker built back-end in Symfony Framework.</p>
    <a class="project-link" href="http://www.oelmarkt.ch/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/znaci.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Historical Archive Znaci </h3>
    <ul>
      <li>database-design, php, javascript, css, mysql, ajax, sql, google-maps-api-3</li>
    </ul>
    <p>I have design the database, core engine and UI for the biggest historical web archive on WW2 in Yugoslavia. I have developed both Back-end and Front-end for new Znaci web application.</p>
    <a class="project-link" href="http://znaci.net/damjan/">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="https://raw.githubusercontent.com/mudroljub/tenkici/master/screen.png" />
  </div>
  <div class="contents">
    <h3>Small Tanks Game</h3>
    <ul>
      <li>game, game-2d, javascript, browser-game</li>
    </ul>
    <p>Jednostavna igrica sa dva tenkića, napravljena u HTML5 canvasu. Možeš igrati protiv kompa ili protiv igrača.</p>
    <a class="project-link" href="https://mudroljub.github.io/tenkici/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="https://raw.githubusercontent.com/mudroljub/bojanka/master/screen.jpg" />
  </div>
  <div class="contents-right">
    <h3>Painting App</h3>
    <ul>
      <li>HTML5, canvas, Javascript</li>
    </ul>
    <p>Simple JavaScript application for drawing in HTML5 canvas.</p>
    <a class="project-link" href="http://mudroljub.github.io/bojanka/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/3d-plane.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>3D Warplane Demo</h3>
    <ul>
      <li>3D graphics, javascript, three.js, webgl</li>
    </ul>
    <p>Simple Three.js demo application.</p>
    <a class="project-link" href="https://mudroljub.github.io/1943/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/matrix.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Matrix animation</h3>
    <ul>
      <li>HTML5, canvas, Javascript</li>
    </ul>
    <p>Matrix raining code animation with Cyrillic alphabet.</p>
    <a class="project-link" href="https://mudroljub.github.io/cyrillic-matrix/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/skola-koda.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Škola koda </h3>
    <ul>
      <li>javascript, three.js, jekyll, node.js, php</li>
    </ul>
    <p>I have develop full software solution for skolakoda.org platform. Train and mentor junior developers, through carefully planned practical work and real life examples. Create interactive programming courses with exercises. Write technical blogs, producing video lectures and more.</p>
    <a class="project-link" href="https://skolakoda.org/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot" src="{{ "/assets/img/djurica.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Nikola Djurica presentation</h3>
    <ul>
      <li>HTML4, CSS2</li>
    </ul>
    <p>One of my first customer projects, from 2005. Web presentation for Serbian clarinetist Nikola Djurica. Also, my first work with CSS.</p>
    <a class="project-link" href="https://web.archive.org/web/20050404131351/http://www.nikoladjurica.com:80/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="screenshot" src="{{ "/assets/img/neradnik.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Neradnik fanzine</h3>
    <ul>
      <li>HTML4, dreamweaver, iframe</li>
    </ul>
    <p>One of my early websites, youth magazine Neradnik from 2004.</p>
    <a class="project-link" href="https://web.archive.org/web/20041211233012/http://neradnik.co.sr/">Check it out</a>
  </div>
</div>
